@use 'sass:math';

@mixin pseudostuff {
	padding: 0px;
	margin: 0px;
	z-index: 10;
	content: attr(data-text);
	//display: inline-block;
	transform-origin: var(--title-origin-x) 50%;
	transition: transform 0.5s, letter-spacing 0.5s, text-shadow 0.5s;
	transform-style: preserve-3D;
	letter-spacing: normal;
	mix-blend-mode: screen;
	text-align: center;
	//width: 100%;
	align-items: center;
	justify-content: center;
}

@mixin RGBeffect {
	@include pseudostuff;
	display: flex;
	color: rgb(255, 0, 0);

	&:before {
		@include pseudostuff;
		color: rgb(0, 255, 0);
		position: absolute;
	}

	&:after {
		color: rgb(0, 0, 255);
		//transform: translateY(-200%);
		@include pseudostuff;
		position: absolute;
	}

	&:hover {
		--hover-letter-spacing: 0px;
		--text-glow-alpha: 0.3;
		--text-glow-radius: 5px;
		text-shadow: 0px 0px var(--text-glow-radius) rgba(red, var(--text-glow-alpha));
		letter-spacing: var(--hover-letter-spacing);

		&:before {
			text-shadow: 0px 0px var(--text-glow-radius) rgba(0, 255, 0, var(--text-glow-alpha));
			letter-spacing: var(--hover-letter-spacing);
			transform: rotateY(-5deg) rotateX(20deg) rotateZ(0.1deg);
		}

		&:after {
			text-shadow: 0px 0px var(--text-glow-radius) rgba(blue, var(--text-glow-alpha));
			letter-spacing: var(--hover-letter-spacing);
			transform: rotateY(10deg) rotateX(-20deg) rotateZ(-0.1deg);
		}
	}
}

@mixin fakeRGBoff {
	$alpha2: 0.5;
	text-shadow:
		0px 0px 0px rgba(yellow, $alpha2),
		0px 0px 0px rgba(red, $alpha2),
		0px 0px 0px rgba(cyan, $alpha2),
		0px 0px 0px rgba(blue, $alpha2);
}

@mixin fakeRGBon($x1, $y1, $blur) {
	$alpha2: 0.4;
	text-shadow:
		calc($x1*0.5) calc($y1*0.5) $blur rgba(yellow, $alpha2),
		$x1	 $y1 $blur rgba(red, $alpha2),
		calc($x1*-0.5) calc($y1*-0.5) $blur rgba(cyan, $alpha2),
		calc($x1*-1) calc($y1*-1) $blur rgba(blue, $alpha2);
}

.all-projects {
	width: 100%;
	margin: 0 auto;
	max-width: 1600px;
}

.language-section {
	>h1 {
		font-size: min(4vw, 45px);
	}

	>.category-buttons {
		>button {
			//bigolesquares
			display: inline-block;
			outline: 0;
			text-align: center;
			cursor: pointer;
			padding: 7px;
			margin: 3px;
			font-size: 20px;
			border: 1px white solid;
			outline: 0px white solid;
			color: white;
			background: transparent;
			font-weight: 200;
			//line-height: 30px;
			transition: outline .2s, outline-offset .2s, text-shadow .3s, background 0.3s steps(1, jump-end), border .3s, padding .3s, box-shadow 0.3s, color 0.3s ease-in-out;
			$alpha: 1.0;
			box-shadow:
				inset 0px 0px 0px 0px rgba(yellow, $alpha),
				inset 0px 0px 0px 0px rgba(red, $alpha),
				inset 0px 0px 0px 0px rgba(cyan, $alpha),
				inset 0px 0px 0px 0px rgba(blue, $alpha),
				0px 0px 0.0px 0px rgba(yellow, $alpha),
				0px 0px 0px 0px rgba(red, $alpha),
				0px 0px 0.0px 0px rgba(cyan, $alpha),
				0px 0px 0px 0px rgba(blue, $alpha),
				inset 0px 38px 0px 0px black,
				inset 0px 0px 0px 0px white,
				inset 0px -38px 0px 0px black;

			border-right-width: 2px;
			border-left-width: 2px;
			@include fakeRGBoff();
			background: none;

			&:hover {
				$alpha: 1.0;
				// border: none;
				// color: black;
				box-shadow:
					inset 1px 0px 0px 0px rgba(yellow, $alpha),
					inset 2px 0px 0px 0px rgba(red, $alpha),
					inset -1px 0px 0px 0px rgba(cyan, $alpha),
					inset -2px 0px 0px 0px rgba(blue, $alpha),
					1px 0px 0.0px 0px rgba(yellow, $alpha),
					2px 0px 0px 0px rgba(red, $alpha),
					-1px 0px 0.0px 0px rgba(cyan, $alpha),
					-2px 0px 0px 0px rgba(blue, $alpha),
					inset 0px 38px 0px 0px black,
					inset 0px 0px 0px 0px white,
					inset 0px -38px 0px 0px black;

				@include fakeRGBon(0px, 2px, 0.5px);
			}

			&.selected {
				//border-width: 2px;
				background: white;
				color: black;

				@-moz-document url-prefix() {
					outline: 3px solid white;
					outline-offset: -3px;
				}

				box-shadow: inset 0px 0px 0px 0px rgba(yellow, $alpha),
				inset 0px 0px 0px 0px rgba(red, $alpha),
				inset 0px 0px 0px 0px rgba(cyan, $alpha),
				inset 0px 0px 0px 0px rgba(blue, $alpha),
				2px 0px 0.0px 0px rgba(yellow, $alpha),
				4px 0px 0px 0px rgba(red, $alpha),
				-2px 0px 0.0px 0px rgba(cyan, $alpha),
				-4px 0px 0px 0px rgba(blue, $alpha),
				inset 0px 0px 0px 0px black,
				inset 0px 38px 0px 0px white,
				inset 0px -38px 0px 0px black;
				@include fakeRGBoff;
			}

			// line-height: 1.15; /* 1 */
			// margin: 0; /* 2 */
			// background: black;
			// color: white;
			font-family: 'Lexend',
			sans-serif;
			// font-size: 15px;
			border-radius: 10px;
		}
	}

	>.category-container>.language {
		//background:blue;
		display: inline-block;
		padding: 5px;
		//background: blue;

		img {
			display: inline-block;
			height: 15px;
		}
	}
}


.selected-projects {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));

	.project-container {
		padding: 5px;
		border: solid white 2px;
		//outline: solid 2px white;
		transition: height 1s ease, outline-offset .5s, outline-color .5s, box-shadow 0.5s;
		outline-offset: -2px;
		border-radius: 40px;
		margin: 5px;
		box-shadow: none;
		background: black;
		box-shadow: 0px 0px 15px 0px rgba(white, 0.25),
			inset 0px 0px 20px 0px rgba(white, 0.3);

		>.project-title-container {
			border-bottom: 2px solid white;
			border-radius: 4%;
			box-shadow: 0px 10px 10px -10px rgba(white, 0.5),
				inset 0px -10px 10px -10px rgba(white, 0.3);
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 5px 10px 5px 10px;

			>.project-title {
				text-align: center;
				font-weight: 500;
				line-height: 1.4;
				padding: 0px;
				margin: 0px;
				@include fakeRGBoff();
				transition: text-shadow 1s;
				--t-x-1: 1px;

				&:hover {
					transition: text-shadow 0s;
					@include fakeRGBon(var(--t-x-1), var(--t-y-1), var(--t-b));
				}
			}
		}

		>.project-contents {
			padding: 10px;

			>.project-tags {
				font-family: 'Open Sans';
				font-style: italic;

				&:active {
					font-style: oblique;
				}

				display: flex;
				align-items: center;

				>.tag {
					padding-left: 10px;
				}
			}

			>.project-summary {
				display: inline-block;
				font-family: 'Open Sans';
				font-weight: 200;
				white-space: pre-wrap;
			}
		}

		>.links {
			visibility: hidden;
			z-index: 999;
			width: 0px;
			height: 0px;
			margin: 0;
			transition: none;
			text-align: center;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			background: red;
		}

		&:hover {
			>.links {
				// transition: height 0.2s linear, margin 0.2s linear;
				// // position: absoul;
				visibility: visible;

				// background: none;
				width: 100%;
				height: initial;
			}
		}

	}
}