@import './style_modules/crazyShadow.scss';
.navbar-container{
    line-height: 1.0;
    padding-top: 10px;
    display: inline-flex;
    width: 100%;

    > .nav-link{
        width: 100%;
        padding: 10px;
        text-align: center;
        font-family: "Poppins", sans-serif;
        font-weight: 200;
        font-size: 30px;
        text-decoration: none;
        color: white;
        transition: text-shadow 1s;
        @include noCrazyShadow(10, 0, 0);
        &:hover{
            @include crazyRainbowShadow(10, 7, 5)
        }
    }
}