.post{
    width: 100%;
    margin: 0 auto;
    max-width: 80vw;
    >header{
        margin: 0px;
        width: 100%;
        >h1 {
            font-family: 'Open Sans';
            font-size: max(4vw, 40px);
            text-align: left;
            font-weight: 700;
            margin-bottom: 10px;
            padding: 100px 0px 0px 0px; //max(15vw, 20px);
            // margin: 0px;

        }
        >h2{
            margin: 0px;
            font-family: 'Open Sans';
            font-size: max(2vw, 20px);
            font-weight: 300;
            // line-height: 20px;
        }
        @media (max-width:850px) { 
            padding-left: 20px;
            padding-right: 20px;
        }
        @media (max-width:600px) { 
            >h1{
                padding-left: 0px;
                text-align: center;
            }
            >h2{
                padding-left: 0px;
                text-align: center;
            }
        }
    }
    @media (max-width:1000px) { 
        max-width: 800px;
    }
    >.text-section{
        @media (max-width:850px) { 
            padding-left: 20px;
            padding-right: 20px;
        }
        header>h2{
            margin-top: 5vh;
            margin-bottom: 5px;
            padding: 0;
            font-size: max(3vw, 30px);;
        }
        >p{
            margin-top: 5px;
            font-size: max(1.5vw, 18px);;
        }
    }
}