
.post{
    width: 100%;
    margin: 0 auto;
    max-width: 80vw;
    >header{
        margin: 0px;
        >h1 {
            
            font-family: 'Poppins';
            font-size: max(5vw, 40px);
            text-align: left;
            font-weight: 900;
            margin-bottom: 4px;
            padding: min(10vw, 7vh) 0px 0px 0px;
        }
        >h2{
            margin: 0px;
            font-family: 'Open Sans';
            font-size: max(2vw, 20px);
            font-weight: 400;
            padding-bottom: 5vh;       
        }
        @media (max-width:850px) { 
            padding-left: 20px;
            padding-right: 20px;
        }
        @media (max-width:600px) { 
            >h1{
                padding-left: 0px;
                text-align: center;
            }
            >h2{
                padding-left: 0px;
                text-align: center;
            }
        }
    }
    @media (max-width:1000px) { 
        max-width: 800px;
    }
    >.text-section{
        @media (max-width:850px) { 
            padding-left: 20px;
            padding-right: 20px;
        }
        header>h2{
            // font-family: 'Poppins';
            margin-top: 5vh;
            margin-bottom: 5px;
            padding: 0;
            font-size: max(3vw, 30px);;
        }
        >p{
            font-family: 'Avenir';
            font-size: max(1.65vw, 20px);
            line-height: max(2.3vw, 34px);
            // font-weight: 900;
            margin-top: 5px;
            >img{
                &.float-right{
                    float: right;
                    margin-left: 20px;
                    @media (max-width:850px) { margin: 0 }
                }
                &.float-left{
                    float: left;
                    margin-right: 20px;
                    @media (max-width:850px) { margin: 0 }
                }
                &.padding-top{
                    margin-top: 20px;
                    margin-bottom: 20px;
                }
                width: 40vw;
                outline: white solid 1px;
            }
            @media (max-width:850px) {
                display: flex;
                flex-direction: column;
                row-gap: 40px;
                >img{                     
                    width: 100%;
                    float: none;
                    order: 2;
                }
            }
        }
        
    }
}