.featured-projects{
    width: 100%;
    margin: 0 auto;
    max-width: 1000px;
    >header{
        margin: 0px;
        width: 100%;
        box-shadow: 0px -3px 0px 0px white,
                    inset 0px 25px 15px -17px rgba(white, 0.05),
                    20px 0px 0px 0px rgba(black, 1),
                    -20px 0px 0px 0px rgba(black, 1),
                    0px -15px 15px 0px rgba(white, 0.05) ;
        border-radius: 0;
        h1 {
            font-family: 'Open Sans';
            font-size: 40px;
            text-align: left;
            font-style: italic;
            font-weight: 400;
            padding: 25px 0px 25px 0px; //max(15vw, 20px);
            margin: 0px;
        }
    }
    >.project{
        text-align: right;
        padding: 0px;
        //padding: 0px max(15vw, 20px) 0px max(15vw, 20px);
        >header{
            font-size: min(60px, 10vw);
            font-weight: 900;
            line-height: min(80px, 10vw);
        }
        >.description{
            font-family: 'Open Sans';
            font-weight: 300;
            font-size: 20px;
        }
        padding-bottom: 50px;
    }
}