.language-section {
	button {
		background: black;
		color: white;
		font-family: 'Lexend', sans-serif;
		font-size: 15px;
	}
	//background:red;
	span{
		//background:blue;
		display: inline-block;
		padding: 5px;
		outline: solid black 1px;
		//background: blue;

		img{
			display: inline-block;
			height: 15px;
		}
	}
}
