@import './style_modules/crazyShadow.scss';
.section{
    transition: 0.5s max-height, 0.5s clip-path;
    max-height:  max(8.5vw, 100px);
    clip-path: inset(-3px 0 calc(100% - max(7vw, 100px)) 0);
    &.expanded{
        clip-path: inset(-50px 0 0px 0);
        max-height: 10000px;
        >header{
            >h1{
                @include crazyShadow(10, 10, 1, white, 0.1);
                &:hover{
                    @include crazyRainbowShadow(10, 10, 1, 0.5);
                }
            }
        }
    }
    >header{
        margin: 0px;
        width: 100%;
        box-shadow: 0px -3px 0px 0px white,
                    inset 0px 25px 15px -17px rgba(white, 0.05),
                    20px 0px 0px 0px rgba(black, 1),
                    -20px 0px 0px 0px rgba(black, 1),
                    0px -15px 15px 0px rgba(white, 0.05) ;
        border-radius: 0;
        h1 {
            font-family: 'Open Sans';
            font-size: max(4vw, 40px);
            text-align: left;
            font-style: italic;
            font-weight: 300;
            padding: 25px 0px 25px 0px; //max(15vw, 20px);
            margin: 0px;
            transition: text-shadow 1s;
            @include noCrazyShadow(10, 10, -10);
            &:hover{
                @include crazyRainbowShadow(10, 10, 5,0.4);
            }
        }
    }
    @media (max-width:1000px) { 
        max-width: 800px;
    }
    @media (max-width:850px) { 
        >header>h1{
            padding-left: 20px;
        }
    }
    @media (max-width:600px) { 
        // max-width: 800px;
        >header>h1{
            padding: none;
            text-align: center;
        }
    }
    width: 100%;
    margin: 0 auto;
    max-width: 80vw;
}